.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-lightgray);
}

.headline-searchbar-addTask-wrapper {
    display: flex;
    justify-content: space-between;   
    width: 80%;
    padding: 30px; 
}

.board-headline {
    font-size: 44px;
    font-weight: 700;
    color: var(--background-color-darkblue);
}

.searchbar-and-addTaskBtn {
    display: flex;
}

.searchbar {
    border: 1px solid grey;
    border-radius: 12px;
}

.searchbar:hover {
    cursor: pointer;
}

.addTaskToBoard-btn {
    border: none;
    border-radius: 12px;
    color: var(--background-color-lightgray);
    background-color: var(--background-color-darkblue);
    padding: 8px;
    margin: 0 150px 0 30px;
}

.addTaskToBoard-btn:hover {
    cursor: pointer;
    background-color: var(--accent-color-lightblue);
}

.board {
    display: flex;
    width: 80%;  
    padding: 30px; 
}

.status {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.status-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color-anthracite);
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px 0;
    width: 80%;
}

.addTask-btn {
    border: 2px solid var(--accent-color-anthracite);
    border-radius: 6px;
    padding: 0 3px 1px 3px;
}

.addTask-btn:hover {
    cursor: pointer;
}

.drag-area {
    height: 600px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 16px;
    padding: 12px;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.contacts-and-prio {
    display: flex;
    justify-content: space-between;
}




@media (min-width: 800px) {
    .headline-searchbar-addTask-wrapper {
        margin: 0 0 0 180px;
    }
    
    .board {
        margin: 0 0 0 180px;
    }
}

