*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color-lightgray);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--background-color-darkblue);
  border: var(--accent-color-white) 3px solid;
  border-radius: 10px;
}

.task-description::-webkit-scrollbar,
.detail-contacts-wrapper::-webkit-scrollbar,
.detail-subtasks-wrapper::-webkit-scrollbar {
  width: 12px;
}

.drag-area::-webkit-scrollbar {
  height: 12px;
}

.main {
  padding: 1em 0.5em;
  background-color: var(--background-color-lightgray);
}

h1 {
  margin: 0.5em 0 0.5em;
  font-size: 24px;
  font-weight: 700;
  color: var(--background-color-darkblue);
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin: 0 0 0.5em;
  font-size: 2rem;
  font-weight: 700;
}

.headline-searchbar-addTask-wrapper {
  margin: 0 0 1em;
}

.search-input-wrapper {
  height: 32px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--accent-color-darkgray) 1px solid;
  border-radius: 10px;
  background-color: var(--accent-color-white);
}

.search-input-wrapper:focus-within {
  border: var(--background-color-darkblue) 1.75px solid;
}

.search-icon-wrapper {
  width: 12%;
  margin: 0 4px 0 0;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-separator {
  width: 1px;
  height: 16px;
  background-color: var(--accent-color-darkgray);
}

.search-icon {
  height: 20px;
  filter: invert(94%) sepia(4%) saturate(20%) hue-rotate(314deg) brightness(91%)
    contrast(94%);
}

.searchbar {
  flex: 1 1 0;
  height: 90%;
  outline: none;
  border: none;
}

.headline-and-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTaskToBoard-btn-small {
  margin: 0;
  height: 32px;
  padding: 2px;
  color: var(--accent-color-white);
  border: none;
  border-radius: 10px;
  background-color: var(--background-color-darkblue);
}

.addTaskToBoard-btn-small img {
  height: 100%;
}

.addTaskToBoard-btn-big {
  display: none;
}

.addTaskToBoard-btn-small:hover,
.addTaskToBoard-btn-big:hover {
  background-color: var(--accent-color-lightblue);
  cursor: pointer;
}

.status {
  display: flex;
  flex-direction: column;
}

.status-headline {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color-darkblue);
  font-size: 20px;
  font-weight: 600;
}

.addTask-btn {
  height: 24px;
  padding: 0.5em 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color-anthracite);
  border-radius: 6px;
  filter: invert(94%) sepia(4%) saturate(20%) hue-rotate(314deg) brightness(91%)
    contrast(94%);
}

/* .addTask-btn:hover {
  cursor: pointer;
} */

.drag-area {
  min-height: 220px;
  margin-bottom: 50px;
  padding: 8px 0;
  display: flex;
  overflow-x: auto;
}

.drag-area:last-of-type {
  margin-bottom: 80px;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.empty-list-message {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  color: var(--accent-color-darkgray);
  border: var(--accent-color-darkgray) 1px dashed;
  border-radius: 8px;
  background-color: var(--background-color-mediumgray);
}

.todo {
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  margin: 8px 0.75em;
  padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.todo:hover {
  rotate: -3deg;
}

.todo-category {
  width: fit-content;
  padding: 4px 8px;
  font-size: 0.9rem;
  border-radius: 8px;
  color: var(--accent-color-white);
}

.todo-title {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--background-color-darkblue);
  margin: 16px 0 10px 0;
}

.todo-description {
  font-size: 0.75rem;
  color: var(--accent-color-darkgray);
  margin: 0 0 8px 0;
}

.progress-wrapper {
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 60%;
  height: 20px;
}

.label-for-progress {
  font-size: 0.6rem;
}

.contacts-and-prio-wrapper {
  margin: 8px 0;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-contact-wrapper {
  width: 150px;
  margin: 0 0.2em 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.initials-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  color: var(--accent-color-white);
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 50%;
}

.not-assigned {
  font-size: 0.7rem;
}

.overflow-indicator {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 700;
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 50%;
  background-color: var(--accent-color-gray);
}

.prio-icon {
  height: 12px;
  width: 16px;
}

.context-menu-card {
  width: 110px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-lightgray);
  border: var(--background-color-darkblue) 1.5px solid;
  border-radius: 10px;
}

.context-menu-move-to-wrapper {
  height: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.6rem;
  color: var(--accent-color-white);
  background-color: var(--background-color-darkblue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.context-menu-close,
.detail-close-button {
  cursor: pointer;
}

.context-menu-close {
  height: 10px;
}

.context-menu-card ul {
  padding: 0.5em;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.context-menu-card li {
  margin: 0 0 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
  border: var(--background-color-mediumgray) 1px solid;
  background-color: var(--background-color-mediumgray);
  cursor: pointer;
}

.context-menu-card li:hover {
  color: var(--accent-color-white);
  background-color: var(--accent-color-darkgray);
}

.detail-task-wrapper {
  max-width: 320px;
  margin: auto;
  max-height: 600px;
  padding: 1em;
  position: fixed;
  inset: 2px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 12px;
  background-color: var(--background-color-lightgray);
  border: var(--accent-color-gray) 1.5px solid;
}

.category-and-close-wrapper {
  margin: 0 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-description,
.task-due-date-wrapper,
.task-priority-wrapper,
.detail-task-contacts-wrapper,
.detail-task-subtasks-wrapper,
.delete-and-edit {
  margin: 0 0 0.5em;
  font-size: 0.9rem;
}

.task-due-date-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.detail-task-contacts-wrapper {
  position: relative;
}

.task-description {
  height: 60px;
  padding: 2px 4px;
  overflow-y: auto;
  font-weight: 600;
  line-height: 1.3;
  border: var(--background-color-darkblue) 0.5px solid;
  border-radius: 4px;
}

.task-priority-wrapper,
.prio-wrapper {
  display: flex;
  align-items: center;
}

.task-priority-wrapper {
  gap: 12px;
}

.prio-wrapper {
  gap: 8px;
}

.prio-wrapper > div {
  text-transform: capitalize;
}

.priority,
.assigned-to,
.subtasks-title,
.due-date {
  font-weight: 600;
}

.assigned-to,
.subtasks-title {
  margin: 0 0 1em;
}

.detail-contacts-wrapper {
  max-height: 100px;
  padding: 0.5em;
  display: flex;
  overflow-y: auto;
  border: var(--background-color-darkblue) 0.5px solid;
  border-radius: 4px;
}

.contact-name {
  width: 100%;
}

.initials-and-name-wrapper {
  padding: 0.25em;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.75rem;
  font-weight: 500;
}

.delete-and-edit-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete-and-edit,
.delete-wrapper,
.edit-wrapper {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.delete-and-edit {
  padding: 4px 2px;
  margin: 0;
}

.delete-wrapper,
.edit-wrapper {
  width: fit-content;
  height: 24px;
  padding: 4px;
  gap: 4px;
  font-size: 0.8rem;
  cursor: pointer;
}

.delete-wrapper img {
  height: 14px;
}

.edit-wrapper img {
  height: 16px;
}

.detail-subtasks-wrapper {
  height: 70px;
  overflow-y: auto;
  border: var(--background-color-darkblue) 0.5px solid;
  border-radius: 4px;
}

.inner-subtask-wrapper {
  margin: 0 0 0.25em;
  padding: 0.25em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.inner-subtask-wrapper:hover {
  background-color: var(--background-color-mediumgray);
}

.subtask-name {
  padding: 2px;
  font-size: 0.75rem;
  flex: 1 1 0;
  cursor: pointer;
}

.edit-task-wrapper {
  height: 85%;
  /* padding: 0 10px 0 0; */
  overflow-y: scroll;
  /* border: red 2px solid; */
}

.edit-task-wrapper::-webkit-scrollbar {
  width: 14px;
}

.edit-close-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-headline {
  margin: 0 0 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
}

.red {
  color: var(--accent-color-red);
}

.edited-task-title-wrapper {
  margin: 0 0 0.5em;
}

.edited-task-title {
  width: 100%;
  padding: 4px 2px;
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 4px;
}

.edited-task-title.warning {
  border: red 1px solid;
}

.instruction-text.red {
  opacity: 1;
}

.instruction-text {
  margin: 0.3em 0;
  font-size: 0.6rem;
  opacity: 0;
}

.edited-task-description {
  width: 100%;
  margin: 0 0 0.5em;
  font-family: 'Inter', sans-serif;
  resize: none;
}

.edited-due-date-wrapper {
  width: 100%;
}

.edited-due-date {
  padding: 5px 4px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 4px;
}

.edited-task-description::-webkit-scrollbar {
  width: 12px;
}

.edit-prio-section {
  width: 100%;
}

.prio-button-wrapper {
  width: 100%;
  margin: 0 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prio-button {
  width: 80px;
  padding: 8px 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--accent-color-white);
  border: var(--background-color-lightgray) 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.prio-button:hover {
  box-shadow: 0px 4px 4px var(--shadow-color);
}

.prio-button.prio-marked-urgent {
  background-color: var(--accent-color-red);
  border: var(--accent-color-red) 1px solid;
  color: var(--accent-color-white);
}

.prio-marked-urgent .svg-urgent path {
  fill: var(--accent-color-white);
}

.prio-button.prio-marked-medium {
  background-color: var(--color-variant2);
  border: var(--color-variant2) 1px solid;
  color: var(--accent-color-white);
}

.prio-marked-medium .svg-medium path {
  fill: var(--accent-color-white);
}

.prio-button.prio-marked-low {
  background-color: var(--accent-color-green);
  border: var(--accent-color-green) 1px solid;
  color: var(--accent-color-white);
}

.prio-marked-low .svg-low path {
  fill: var(--accent-color-white);
}

.edit-contact-wrapper {
  margin: 0 0 0.75em;
}

.edit-contacts-dropdown-list {
  width: 100%;
  padding: 8px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  background-color: var(--accent-color-white);
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.edit-contact-list-wrapper {
  padding: 4px 2px;
  margin: 0 0 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.initials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 0;
  font-size: 0.75rem;
}

.contact-name-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  cursor: pointer;
}

/* ACHTUNG: KLASSEN ANPASSEN */

.edit-contact-list {
  width: 100%;
  max-height: 0;
  margin: 0.5em 0 0;
  padding: 0 0.25em;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: var(--accent-color-white);
}

.edit-contact-list.show {
  max-height: 200px;
  overflow-y: auto;
  border: var(--accent-color-gray) 1px solid;
  border-radius: 4px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.edit-contact-list.show::-webkit-scrollbar {
  width: 12px;
}

.turn {
  transform: rotate(180deg);
}

.edit-subtask-wrapper {
  margin: 0 2px 0.3em;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: var(--background-color-darkblue) 1px solid;
  border-radius: 4px;
  background-color: var(--accent-color-white);
}

.edit-subtask-wrapper:focus-within {
 outline: var(--background-color-darkblue) 1.5px solid;
}

.input-subtasks {
  flex: 1 1 0;
  border: none;
  outline: none;
}

.edit-plus-button {
  cursor: pointer;
}


.close-and-check-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.close-and-check-wrapper img {
  height: 18px;
  cursor: pointer;
}

.close-and-check-wrapper img:last-of-type {
  height: 10px;
  filter: brightness(0);
}

.subtask-list-item-wrapper {
  margin: 0 0 0.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: var(--accent-color-white) 1px solid;
}

.subtask-list-item {
  padding: 0.3em;
  flex: 1 1 0;
  font-size: 0.75em;
}

.subtask-list-item-wrapper::before {
  content: '\2022';
}

.subtask-list-item-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.subtask-list-item-icon-wrapper img {
  height: 18px;
  cursor: pointer;
}

.subtask-list-item-icon-wrapper img:last-of-type {
  height: 14px;
  cursor: pointer;
}

.subtask-icon-separator {
  height: 16px;
  width: 1px;
  background-color: var(--accent-color-gray);
}

.edit-subtask-inputfield-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.edit-subtask-inputfield-wrapper input {
  flex: 1 1 0;
}

.edit-subtask-icons-wrapper {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-subtask-icons-wrapper img {
  cursor: pointer;
}

.edit-subtask-icons-wrapper img:first-of-type {
  height: 14px;
}

.edit-subtask-icons-wrapper img:last-of-type {
  height: 10px;
  filter: brightness(0);

}

.okay-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.edit-okay-button {
  padding: 0.75em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--accent-color-white);
  background-color: var(--background-color-darkblue);
  border: var(--background-color-darkblue) 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.d-none {
  display: none;
}

/* ---------------------------------------------------
breakpoint: 50em
------------------------------------------------------ */
@media (min-width: 50em) {
  body {
    background-color: var(--background-color-lightgray);
  }

  .main {
    /* max-width: 1208px; */
    margin: 0 0 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: orange 1px solid;
  }

  .board {
    width: 85%;
    margin: 1em 0 0 170px;
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
    border: purple 1px solid;
  }

  .headline-searchbar-addTask-wrapper {
    width: 85%;
    margin: 0 0 0 170px;
    /* padding: 80px 30px 30px 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: red 1px solid;
  }

  .searchbar-and-addTaskBtn-wrapper {
    width: 36%;
    display: flex;
    justify-content: space-between;
  }

  .addTaskToBoard-btn-small {
    display: none;
  }

  .addTaskToBoard-btn-big {
    height: 32px;
    padding: 8px;
    display: inline;
    border: none;
    border-radius: 8px;
    color: var(--background-color-lightgray);
    background-color: var(--background-color-darkblue);
  }

  .status {
    width: 24%;
    display: flex;
    flex-direction: column;
  }

  .status-headline {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color-darkblue);
    font-size: 20px;
    font-weight: 600;
    border: orchid 1px solid;
  }

  .drag-area {
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    overflow-x: unset;
  }

  .drag-area-highlight {
    width: 100%;
  }

  .todo {
    min-width: auto;
    max-width: 150px;
    width: 150px;
    border: red 1px solid;
  }

  .task-contact-wrapper {
    max-width: 80%;
  }

  .detail-task-wrapper {
    inset: 10px;
    transform: translateX(25%);
  }

  .subtask-list-item-icon-wrapper {
    opacity: 0;
  }

  .subtask-list-item-wrapper:hover {
    background-color: var(--background-color-mediumgray);
  }

  .subtask-list-item-wrapper:hover .subtask-list-item-icon-wrapper {
    opacity: 1;
  }
}
