:root {
    --background-color-darkblue: #2a3647;
    --background-color-lightgray: #F6F7F8;
    --background-color-mediumgray: #ECECEC;
    --accent-color-lightblue: #29abe2;
    --accent-color-red: #ff3d00;
    --accent-color-white: #ffffff;
    --accent-color-anthracite: #333333;
    --accent-color-darkgray: #b9b9b9;
    --accent-color-gray: #d6d6d6;
    --accent-color-lightgray: rgba(12, 46, 98, 0.12);
    --accent-color-red-asterisk: #FF8190;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --color-default: #6e52ff;
    --color-variant2: #ffa35e;
    --color-variant3: #ffe62b;
    --color-variant4: #00bee8;
    --color-variant5: #ff5eb3;
    --color-variant6: #ffbb2b;
    --color-variant7: #ff745e;
    --color-variant8: #c3ff2b;
    --color-variant9: #ff7a00;
    --color-variant10: #1fd7c1;
    --color-variant11: #0038ff;
    --color-variant12: #ffc701;
    --color-variant13: #9327ff;
    --color-variant14: #fc71ff;
    --color-variant15: #ff4646;
    --color-variant16: #007cee;
    --color-variant17: #462F8A;
    --header-height: 72px;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
}


a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--accent-color-white);
}

/*  Semir:
Hier wurde ein Box-shadow hinzugefügt;
beim padding wurde das value um 1.25em ergänzt;
position wurde auf sticky gesetzt;
header height habe ich auskommentiert;
*/

header {
    /* height: var(--header-height); */
    padding: 1.25em 1em;
    background-color: var(--accent-color-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: sticky;
    top: 0;
}

header p {
    font-size: 1em !important;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper img {
    height: 32px;
}

.header-wrapper p {
    display: none;
}

.header-wrapper .user-icon {
    height: 32px;
    width: 32px;
    padding: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color-lightblue);
    font-weight: 700;
    border: var(--accent-color-anthracite) 2px solid;
    border-radius: 50%;
    cursor: pointer;
}

.header-wrapper .user-icon:hover {
    background-color: var(--accent-color-lightgray);
}

.header-icon-wrapper {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-help-icon img {
    height: 16px;
    cursor: pointer;
}

.header-help-icon img:hover {
    transform: scale(1.2);
}



/* =======================================================
navigation
========================================================== */
nav {
    background-color: var(--background-color-darkblue);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.nav {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--accent-color-white);
}

.join-logo {
    display: none;
}

.menu-items-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.legal-info-wrapper {
    display: none;
}

.opaque {
    opacity: 0;
}

.d-none {
    display: none;
}

/* ====================================================
media queries
====================================================== */
/* ---------------------------------------------------
breakpoint: 50em
------------------------------------------------------ */
@media (min-width: 50em) {

    /*  Semir:
Diese zwei Befehle im body habe ich auskommentiert, so löst sich das problem mit dem
Header in der Desktop Version
*/

    body {
        /* display: flex;
        flex-direction: row-reverse; */
        position: relative;
    }

    /* Annette: max-width von .page entfernt */
    .page {
        margin: 0 0 0 180px;
        /* max-width: 456px; */
        border: blue 1px solid;
    }


    header {
        padding: 1.25em 1em 1.25em 180px;
    }


    .header-wrapper .header-join-logo {
        display: none;
    }

    .header-wrapper p {
        display: block;
    }

    nav {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 170px;
    }

    div[w3-include-html] {
        height: 100%;
    }

    .nav {
        height: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    .join-logo {
        height: 100px;
        display: block;
    }

    .join-logo img {
        max-height: 100%;
    }

    .menu-items-wrapper {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .legal-info-wrapper {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .add-contact {
        display: none;
    }

}

