body {
    background-color: var(--background-color-lightgray);
}

.summary-headline {
    display: flex;
}

.wrapper-div {
    width: 100%;
    display: flex;
}

.summary {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.good-morning {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.toDo-and-done {
    display: flex;
}

.other-boardSummary {
    display: flex;
}

.toDo-div {
    display: flex;
}

.toDo-and-done-icon {
    background-color: var(--background-color-darkblue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.toDo {
    display: flex;
    flex-direction: column;
}

.done-div {
    display: flex;
}

.done {
    display: flex;
    flex-direction: column;
}

.urgentCounter-and-upcomingDeadline {
    display: flex;
}

.urgency-icon {
    background-color: var(--accent-color-red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.urgent {
    display: flex;
    flex-direction: column;
}

.upcoming-deadline {
    display: flex;
    flex-direction: column;
}

.lower-boardSummary {
    display: flex;
    flex-direction: column;
}






@media(min-width: 50em) {
    body {
        display: block;
    }
}

