
.summary-headline {
    display: flex;
}

.wrapper-div {
    width: 100%;
    display: flex;
}

.summary {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.good-morning {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.toDo-and-done {
    display: flex;
}

.other-boardSummary {
    display: flex;
}

.toDo-div {
    display: flex;
}

.summary-icon {
    width: 20px;
    height: 20px;
}

.toDo {
    display: flex;
    flex-direction: column;
}





@media(min-width: 50em) {
    body {
        display: block;
    }
}

