body {
  background-color: var(--background-color-lightgray);
}

.summary-headline {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--background-color-darkblue);
  margin-top: 20px;
  margin-bottom: 15px;
}

.summary-headline span {
  font-size: 14px;
  color: var(--background-color-darkblue);
}

.lightblue-underline {
  margin-top: 10px;
  height: 2px;
  width: 65px;
  background-color: var(--accent-color-lightblue);
}

.wrapper-div {
  width: 100%;
  margin-top: 10px;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.good-morning {
  display: none;
  width: 35%;
}

.toDo-and-done {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 7px;
}

.toDo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--background-color-darkblue);
    background-color: var(--accent-color-white);
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
}

.toDo-div:hover {
  cursor: pointer;
  background-color: var(--background-color-darkblue);
  color: var(--accent-color-white);
  .toDo-and-done-icon {
    background-color: var(--accent-color-white);
  }
  .summary-icon {
    filter: invert(1);
  }
  transform: scale(1.06);
}

.toDo-and-done-icon {
  background-color: var(--background-color-darkblue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.summary-icon {
  padding: 10px;
}

.toDo {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.counter {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 2px;
}

.toDo span {
  font-size: 12px;
}

.done-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--background-color-darkblue);
    background-color: var(--accent-color-white);
    border-radius: 15px;
    margin-left: 15px;
    transition: transform 0.1s ease-in-out;
}

.done-div:hover {
  cursor: pointer;
  background-color: var(--background-color-darkblue);
  color: var(--accent-color-white);
  .toDo-and-done-icon {
    background-color: var(--accent-color-white);
  }
  .summary-icon {
    filter: invert(1);
  }
  transform: scale(1.06);
}

.done {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.done span {
  font-size: 12px;
}

.urgentCounter-and-upcomingDeadline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: var(--background-color-darkblue);
    background-color: var(--accent-color-white);
    border-radius: 15px;
    margin: 30px 10px 30px 10px;
    transition: transform 0.1s ease-in-out;
}

.urgentCounter-and-upcomingDeadline:hover {
    cursor: pointer;
    background-color: var(--background-color-darkblue);
    color: var(--accent-color-white);
    .date {
        color: var(--accent-color-white);
    }
    transform: scale(1.03);
}

.urgency-icon {
  background-color: var(--accent-color-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.urgent {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.urgent span {
  font-size: 10px;
}

.vertical-line {
  width: 2px;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: var(--accent-color-gray);
}

.upcoming-deadline {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.date {
  font-size: 13px;
  font-weight: 600;
  color: var(--background-color-darkblue);
  margin-bottom: 7px;
}

.other-boardSummary {
  display: flex;
  justify-content: center;
}

.lower-boardSummary {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 7px;
    color: var(--background-color-darkblue);
    background-color: var(--accent-color-white);
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
}

.lower-boardSummary:hover {
    cursor: pointer;
    background-color: var(--background-color-darkblue);
    color: var(--accent-color-white);
    transform: scale(1.06);
}

.lower-boardSummary span {
  font-size: 11px;
  text-align: center;
}




@media(min-width: 320px) {
    .toDo-div {
        padding: 25px;
    }

    .done-div {
        padding: 25px;
    }

    .urgentCounter-and-upcomingDeadline {
        padding: 20px;
    }

    .lower-boardSummary {
        padding: 20px;
    }
}

@media(min-width: 360px) {
    .toDo-div {
        padding: 35px;
    }

    .done-div {
        padding: 35px;
    }

    .urgentCounter-and-upcomingDeadline {
        padding-left: 40px;
        padding-right: 40px;
    }

    .lower-boardSummary {
        padding: 26px;
    }
}

@media(min-width: 420px) {
    .toDo-div {
        padding: 40px;
    }

    .done-div {
        padding: 40px;
    }

    .urgentCounter-and-upcomingDeadline {
        padding-left: 50px;
        padding-right: 50px;
    }

    .lower-boardSummary {
        padding: 30px;
    }
}

